nb-layout-column{
    padding-top: auto;
    padding-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
}

nb-layout-header{
    text-align: center;
}