main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    max-width: 625px;
    margin: auto;
    padding: 10px;
}

app-square{
    border: 1px grey solid;
    height: 200px;
}
div{
    position: relative;
    margin-top: 1%;
    margin-bottom: auto;
}